{% extends 'baseusuario.html' %}

{% block content %}
<style>
    .text-center.display-4.py-4.mt-5 {
        color: white;
    }
    .sidebar ul li.administrar1 {
        color: #dee2e6;
        background-color: #6c757d;
        border-radius: 0px;
    }
    .dark-mode .sidebar ul li.administrar1 {
        background-color: #b2dafa;
        border-radius: 0px;
    }
</style>
<div class="container">
  <h2 class="text-center display-4 py-4 mt-5">Administrar a {{ usuario.username }}</h2>

  <a href="/administrar/usuarios/" class="btn btn-secondary mb-1 ml-3">Volver</a>

    <div class="card p-3 m-3">
        <p><strong>ID:</strong> {{ usuario.id }}</p>
        <p><strong>Fecha de Registro:</strong> {{ usuario.date_joined }}</p>
        <p><strong>Último Inicio de Sesión:</strong> {{ usuario.last_login }}</p>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ usuario.username }}">
        </div>
        <div class="form-group">
            <label for="first_name">Nombre:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ usuario.first_name }}">
        </div>
        <div class="form-group">
            <label for="last_name">Apellido:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ usuario.last_name }}">
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}">
        </div>
        <div class="row">
          <div class="col-md-8">
              <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="is_accepted" name="is_accepted" {% if usuario.is_accepted %} checked="yes" {% endif %}>
                      <label class="form-check-label" for="is_accepted">Perfil Aceptado</label>
                  </div>
              </div>
              <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="is_active" name="is_active" {% if usuario.is_active %}checked{% endif %}>
                      <label class="form-check-label" for="is_active">Activo En el Sistema</label>
                  </div>
              </div>
              <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="is_superuser" name="is_superuser" {% if usuario.is_superuser %}checked{% endif %}>
                      <label class="form-check-label" for="is_superuser">Super Usuario</label>
                  </div>
              </div>
              <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="is_staff" name="is_staff" {% if usuario.is_staff %}checked{% endif %}>
                      <label class="form-check-label" for="is_staff">Es Del Proyecto</label>
                  </div>
              </div>
          </div>
          <div style="display: flex; justify-content: flex-start;">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="submit" class="btn btn-danger" name="eliminar" style="margin-left: 5px;">Eliminar Usuario</button>
        </div>
        

{% endblock %}
