{% extends 'baseusuario.html' %}
{% block content %}

<style>
    /* Estilos para el contenedor del cuadro de entrada */
    .custom-file-container {
        width: 100%; /* Ancho del contenedor */
        height: 100%; /* Altura del contenedor */
        background-color: white; /* Fondo blanco */
        border: 2px solid #ccc; /* Borde sólido */
        border-radius: 10px; /* Bordes redondeados */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        padding-bottom: 110px;
        padding-top: 60px;
        margin-bottom: 20px; /* Espacio entre el formulario y el panel de información */
    }

    /* Estilos para el cuadro de entrada */
    .custom-file-input {
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .sidebar ul li.analizar1 {
        color: #dee2e6;
        background-color: #6c757d;
        border-radius: 0px;
    }

    /* Estilo para el texto dentro del contenedor */
    .custom-file-label {
        color: #888;
        cursor: pointer;
    }

    /* Estilo para el símbolo de suma */
    .custom-file-add {
        color: #007bff;
        font-size: 50px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    /* Estilo para el texto debajo del símbolo de suma */
    .custom-file-addd {
        font-size: 14px;
        color: #888;
    }

    /* Estilo para resaltar el área de soltar */
    .dragover {
        background-color: rgba(0, 123, 255, 0.1);
        border-color: #007bff;
    }

    /* Estilo para la lista de archivos seleccionados */
    .file-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .file-list-item {
        margin-bottom: 5px;
    }

    /* Estilos para el panel de información */
    .info-panel {
        margin-top: 30px;
        background-color: #f8f9fa; /* Color de fondo */
        border: 1px solid #ccc; /* Borde sólido */
        border-radius: 10px; /* Bordes redondeados */
        padding: 20px; /* Espaciado interno */
    }
    .file-list {
        list-style: none;
        padding : 5px 10px 10px 10px; /* Añade un poco de espacio interno */
        margin: 0;
        padding-bottom: 0px;
        background-color: white; /* Fondo blanco */
        border: 0px solid #ccc; /* Borde sólido */
        border-radius: 0px 0px 5px 5px; /* Bordes redondeados */
        max-height: 90px; /* Altura máxima de la lista */
        overflow-y: auto; /* Añade desplazamiento vertical si hay demasiados archivos */

        
    }

    .file-list-1 {
        list-style: none;
        padding : 10px 10px 5px 10px; /* Añade un poco de espacio interno */
        margin: 0;
        background-color: white; /* Fondo blanco */
        border: 0px solid #ccc; /* Borde sólido */
        border-radius: 5px 5px 0px 0px ; /* Bordes redondeados */
        max-height: 200px; /* Altura máxima de la lista */
        overflow-y: auto; /* Añade desplazamiento vertical si hay demasiados archivos */
        font-weight: bold !important;

    }
    .text-center.display-4.py-4 {
        color: white; /* Color del texto */
    }
    .dark-mode .sidebar ul li.analizar1 {
        color: #176ec5;
        background-color: #b2dafa;
        border-radius: 0px;
    }

</style>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <h2 class="text-center display-4 py-4">Analizar Archivos</h2>
            <br>
            <br>
            <form id="archivoForm" action="{% url 'archivos_analiz' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label id="formulario" class="custom-file-container" ondragover="dragOver(event)" ondragleave="dragLeave(event)" ondrop="drop(event)">
                    <input type="file" class="custom-file-input" id="archivos" name="archivos"  maxlength="120000000" multiple>
                    <span class="custom-file-add">+</span>
                    <span class="custom-file-addd">Selecciona o Arrastra Archivos</span>
                </label>
                <ul class="file-list-1">Archivos Seleccionados</ul>
                <ul class="file-list" id="fileList"> </ul>
                <button id="analizarBtn" type="submit" class="btn btn-primary mt-3" onclick="ocultarElemento()">Analizar</button>
                <div id="cargandoMensaje" class="alert alert-info mt-4" style="display: none;">Analizando archivos... <span id="contador"></span>s</div>
            </form>
            <div id="mensajeArchivos" class="alert alert-danger mt-4" style="display: none;">Por favor, selecciona al menos un archivo.</div>

        </div>

    </div>

</div>

<!-- Panel de Información -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="info-panel">
                <h4><i class="fas fa-info-circle text-primary"> </i>  Información</h4>
                <br>
                <style>
                    .info-text {
                        color: #4d4d4d; /* Color azul */
                        font-weight: bold; /* Texto en negrita */
                        font-size: 15px;
                    }
                </style>
                <p class="info-text">Limite Tamaño   - 120MB por archivo</p>
                <p class="info-text">Limite Archivos - No hay limite en cantidad de archivos</p>
            </div>
        </div>
    </div>
</div>

<script>    
    function ocultarFormulario() {
        const files = document.getElementById('archivos').files;
        let todosDentroDelLimite = true;

        // Verificar si todos los archivos están dentro del límite
        for (let i = 0; i < files.length; i++) {
            if (files[i].size > 120000000) { // 120MB
                todosDentroDelLimite = false;
                break;
            }
        }

        if (files.length > 0 && todosDentroDelLimite) {
            document.getElementById("formulario").style.display = "none";
            document.getElementById("cargandoMensaje").style.display = "block"; // Mostrar mensaje de carga
            const tiempoTotal = files.length * 16; // Calcula el tiempo total basado en el número de archivos
            actualizarContador(tiempoTotal); // Inicia la cuenta regresiva
        }
    }

    function actualizarContador(segundos) {
        const contador = document.getElementById('contador');
        let tiempoRestante = segundos;
        contador.textContent = tiempoRestante;

        const intervalo = setInterval(function() {
            tiempoRestante--;
            contador.textContent = tiempoRestante;
            if (tiempoRestante <= 0) {
                clearInterval(intervalo);
                mostrarResultado();
            } else if (tiempoRestante === 1) { // Cuando quedan 10 segundos, mostrar "Esperando a la API..."
                document.getElementById('cargandoMensaje').innerHTML = "Esperando a la API...";
            }
        }, 1000); // Actualizar el contador cada segundo
    }

    document.getElementById('archivoForm').addEventListener('submit', function(event) {
        const files = document.getElementById('archivos').files;
        const mensaje = document.getElementById('mensajeArchivos');
        let hasOversizedFile = false;

        // Verificar el tamaño de cada archivo
        for (let i = 0; i < files.length; i++) {
            if (files[i].size > 120000000) { // Tamaño máximo permitido: 120MB
                hasOversizedFile = true;
                break;
            }16
        }

        if (hasOversizedFile) {
            event.preventDefault(); // Evita que se envíe el formulario
            mensaje.textContent = 'Uno o más archivos seleccionados superan el límite de tamaño (120MB). Por favor, selecciona archivos más pequeños.';
            mensaje.style.display = 'block';
            setTimeout(function() {
                mensaje.style.display = 'none';
            }, 10000); // Oculta el mensaje después de 10 segundos (10000 milisegundos)
        } else if (files.length === 0) {
            event.preventDefault(); // Evita que se envíe el formulario
            mensaje.textContent = 'Por favor, selecciona al menos un archivo.';
            mensaje.style.display = 'block';
            setTimeout(function() {
                mensaje.style.display = 'none';
            }, 10000); // Oculta el mensaje después de 10 segundos (10000 milisegundos)
        } else {
            ocultarFormulario(); // Llama a la función para mostrar el mensaje de carga
            document.getElementById('analizarBtn').setAttribute('disabled', 'disabled');
        }
    });



    function dragOver(event) {
        event.preventDefault();
        event.currentTarget.classList.add('dragover');
    }

    function dragLeave(event) {
        event.preventDefault();
        event.currentTarget.classList.remove('dragover');
    }




    function drop(event) {
        event.preventDefault();
        event.currentTarget.classList.remove('dragover');
        const files = event.dataTransfer.files;
        document.getElementById('archivos').files = files;
        displayFileList(files);
    }

    function displayFileList(files) {
        const fileList = document.getElementById('fileList');
        fileList.innerHTML = '';

        // Agregar el título "Archivos Seleccionados"
        const titleItem = document.createElement('li');
        titleItem.textContent = "";
        titleItem.classList.add('file-list-item');
        titleItem.classList.add('file-list-title'); // Aplica la clase de estilo
        fileList.appendChild(titleItem);

        // Agregar cada archivo a la lista
        for (let i = 0; i < files.length; i++) {
            const listItem = document.createElement('li');
            listItem.textContent = files[i].name;
            listItem.classList.add('file-list-item');
            fileList.appendChild(listItem);
        }
    }

    document.getElementById('archivos').addEventListener('change', function() {
        displayFileList(this.files);
    });
</script>

</body>

{% endblock %}
