{% extends 'baseusuario.html' %}

{% block content %}
<style>
    .text-center.display-4.py-4 {
        color: white; /* Color del texto */
    }
    .dark-mode .sidebar ul li.Compartidos1 {
        color: #176ec5;
        background-color: #b2dafa;
        border-radius: 0px;
    }

    .sidebar ul li.Compartidos1 {
        color: #dee2e6;
        background-color: #6c757d;
        border-radius: 0px;
    }
    .card-title{
        color: white;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h2 class="text-center display-4 py-4"><strong>{{ archivo.nombre_archivo }}</strong> compartido</h2>
            <a href="/compartido/" class="btn btn-secondary mb-3">Volver</a>

            <div class="row">
                <div class="col-md-6">
                    <h4 class="card-title">Detalles del archivo</h4>
                    <div class="card mb-1" style="width: 1100px;">
                        <div class="card-body">
                    
                            <p class="card-text" style="font-size: 18px;"><strong>Nombre:</strong> {{ archivo.nombre_archivo }}</p>
                            <p class="card-text" style="font-size: 18px;"><strong>Hash AVT:</strong> {{ archivo.archivo_hash }}</p>
                            <p class="card-text" style="font-size: 18px;"><strong>Hash APB2TAL:</strong> {{ archivo.id_APB2TAL }}</p>
                            <p class="card-text" style="font-size: 18px;"><strong>Positivos:</strong> {{ archivo.positivos }}</p>
                            <p class="card-text" style="font-size: 18px;"><strong>Fecha de análisis:</strong> {{ archivo.current_time }}</p>
                    
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dark-mode .sidebar ul li.Compartidos1 {
    color: #176ec5;
    background-color: #b2dafa;
    border-radius: 0px;
    }
</style>
{% endblock %}

