{% extends 'base.html' %}

{% block content %}

<div class="motivational-container">
  <h1 class="motivational-text">Your data is safe with us. We guarantee top-level security for all your files.</h1>
  <p class="description-text">With our advanced encryption and robust security protocols, we protect your sensitive information from unauthorized access. Enjoy peace of mind as you manage your files securely and efficiently.</p>
</div>

<div class="button-container">
  <a href="/signup" class="button download-button">Let's Start</a>
  <a href="https://albertxicola.github.io/memoria/" class="button start-button">Project Memory</a>
</div>

{% endblock %}
