{% extends 'base.html' %}
{% block content %}
<style>
    .red-background {
        background-color: rgba(255, 255, 255, 0.089);
        color: rgb(0, 0, 0);
    }
    
    .red-background label {
        color: rgb(0, 0, 0); 
    }

    .create-account {
        margin-top: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.089);
        border: 0px solid #ccc;
        border-radius: 0px;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    section{
        width: 500px;
        height: 400px;
        margin-bottom: 120px;
    }

    .create-account a {
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }

    .container1 {
        font-family: 'Montserrat', sans-serif; 
        display: flex;
        flex-direction: column; 
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    form{
        border-radius: 0px !important;
        border: 0px solid #00000000  !important;
      }

    button{
        border: 1px solid #00000071  !important;
        border-radius: 0px !important;
      }

    button:hover{
        border: 1px solid #00000000  !important;
        border-radius: 0px !important;
        background-color: rgb(255, 255, 255) !important;
        color: rgb(0, 0, 0);
      }

    @media (max-width: 645px) {
        section{
            width: 350px;
        }
    }

    @media (max-width: 450px) {
        section{
            height: 300px;
        }
    }
</style>

<main class="container1">
        <section class="">  
            <form action="/signin/" method="POST" class="card card-body signin-form red-background" id="signin-form">
                
                <h1 class="text-center" style="color: rgb(0, 0, 0);">Login</h1>
                
                <small id="error-message" class='error' style='color: red; font-weight: bold;'>{{ error }}</small>

                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Write your username">
                    <small id="username-error" class="text-danger"></small>
                </div>

                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Write your password">
                </div>

                <button class="btn " id="signin-button">
                    Login
                </button>

            </form>

            <div class="create-account">
                Don't have an account yet? <a href="/signup/">¡Create one!</a>
            </div>

        </section>
    </div>
</main>

 
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const usernameInput = document.getElementById('username');
        const usernameError = document.getElementById('username-error');
        const signinButton = document.getElementById('signin-button');
        const errorMessage = document.getElementById('error-message');

        usernameInput.addEventListener('input', function () {
            const username = usernameInput.value.trim();
            if (/[^\w]/.test(username)) {
                usernameError.textContent = 'Special characters are not allowed except underscore (_).';
                signinButton.disabled = true;
            } else {
                usernameError.textContent = '';
                signinButton.disabled = false;
            }
        });
        setTimeout(function () {
            errorMessage.style.display = 'none';
        }, 4000);
    });

</script>

{% endblock %}