{% extends 'base.html' %}

{% block content %}

<style>
.terms {
  margin: auto;
  max-width: 700px;
  max-height: 500PX;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

</style>

<div class="terms">
  <h1 style="color: #000000; font-size: 20px;">Terms and Conditions:</h1>

  <p style="color: #333; font-size: 11px; line-height: 1.5;">

    1. Use of the Website
    <br>
    1.1. By using our website, you agree to comply with these Terms, as well as all applicable laws and regulations.
    <br>
    1.2. Do not use our website improperly, including but not limited to: violating intellectual property rights, engaging in illegal activities, transmitting viruses or other malicious codes.

    <br><br>

    2. User Content
    <br>
    2.1. By submitting content to our website, you guarantee that you have the necessary rights to do so and that such content does not infringe on the rights of third parties.

    <br><br>

    3. Intellectual Property
    <br>
    3.1. The content of this website, including but not limited to text, graphics, logos, icons, images, audio clips, digital downloads, data compilations, and software, is the property of APB2TAL.
    <br>
    3.2. You may not copy, reproduce, distribute, transmit, display, sell, license, or otherwise exploit any content from this website without the prior written consent of STUCOM.

    <br><br>

    4. Limitation of Liability
    <br>
    4.1. In no event shall STUCOM be liable to you or any third party for any direct, indirect, incidental, special, or consequential damages arising from the use or inability to use our website.

    <br><br>

    5. Modifications
    <br>
    5.1. We reserve the right to modify these Terms at any time. It is your responsibility to periodically review these Terms to stay informed of any changes.

    <br><br>

    These terms and conditions of use constitute the entire agreement between you and STUCOM regarding the use of our website and supersede any prior or contemporaneous agreements, whether oral or written, related to the subject matter herein.
  </p>
  <form action="/signup" method="GET">
    <button type="submit" style="background-color: #ffffff2d; color: #000000; border: none; padding: 10px 20px; border-radius: 0px; cursor: pointer;">Accept Terms</button>
  </form>
</div>


{% endblock %}
