{% extends 'base.html' %}

{% block content %}
<div style="background-color: #fff; padding: 20px; border-radius: 10px; max-width: 800px; max-height: 600px;margin: 0 auto; overflow: auto;">
  <h1 style="color: #175d69; font-size: 24px;">Términos y condiciones:</h1>
  <p style="color: #333; font-size: 14px; line-height: 1.5;">
    Bienvenido a APB2TAL, un proyecto desarrollado por alumnos de STUCOM. Estos términos y condiciones de uso ("Términos") se aplican al uso de nuestro sitio web y cualquier servicio proporcionado a través de él. Al acceder o utilizar nuestro sitio web, aceptas estos Términos en su totalidad. Si no estás de acuerdo con alguno de estos términos, no utilices nuestro sitio web.

    <br><br>

    1. Uso del Sitio Web
    <br>
    1.1. Al utilizar nuestro sitio web, aceptas cumplir con estos Términos, así como con todas las leyes y regulaciones aplicables.
    <br>
    1.2. No utilices nuestro sitio web de manera indebida, incluyendo pero no limitado a: violar derechos de propiedad intelectual, realizar actividades ilegales, transmitir virus u otros códigos maliciosos.

    <br><br>

    2. Contenido del Usuario
    <br>
    2.1. Al enviar contenido a nuestro sitio web, garantizas que tienes los derechos necesarios para hacerlo y que dicho contenido no infringe los derechos de terceros.
    <br>
    2.2. Nos reservamos el derecho de eliminar cualquier contenido que consideremos inapropiado o que viole estos Términos.

    <br><br>

    3. Propiedad Intelectual
    <br>
    3.1. El contenido de este sitio web, incluyendo pero no limitado a texto, gráficos, logotipos, iconos, imágenes, clips de audio, descargas digitales, compilaciones de datos y software, es propiedad de STUCOM y está protegido por las leyes de propiedad intelectual.
    <br>
    3.2. No puedes copiar, reproducir, distribuir, transmitir, mostrar, vender, licenciar o explotar de ninguna otra manera ningún contenido de este sitio web sin el consentimiento previo por escrito de STUCOM.

    <br><br>

    4. Limitación de Responsabilidad
    <br>
    4.1. En ningún caso STUCOM será responsable ante ti o cualquier tercero por cualquier daño directo, indirecto, incidental, especial o consecuente que surja del uso o la imposibilidad de uso de nuestro sitio web.
    <br>
    4.2. Este sitio web se proporciona "tal cual" y "según disponibilidad", sin garantías de ningún tipo, ya sean expresas o implícitas.

    <br><br>

    5. Modificaciones
    <br>
    5.1. Nos reservamos el derecho de modificar estos Términos en cualquier momento. Es tu responsabilidad revisar periódicamente estos Términos para estar al tanto de las modificaciones.
    <br>
    5.2. El uso continuado de nuestro sitio web después de la publicación de cambios en estos Términos constituirá tu aceptación de dichos cambios.

    <br><br>

    Estos términos y condiciones de uso constituyen el acuerdo completo entre tú y STUCOM con respecto al uso de nuestro sitio web y reemplazan cualquier acuerdo anterior o contemporáneo, ya sea oral o escrito, relacionado con el tema aquí tratado.
  </p>
  <form action="/signup" method="GET">
    <button type="submit" style="background-color: #175d69; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">Aceptar términos</button>
  </form
</div>
{% endblock %}
